<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> Админ-панель Помощника РСВ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'></script>
    </head>
    <body>       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Орион by MAGA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Метрика</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/manage">Конструктор</a>
                  </li>
                  
              </div>
            </div>
          </nav>
        <div class="container">
            <div class="row justify-content-md-center">
                <div>
                    <h3> Часто посещаемые ссылки </h3>
                    <canvas id="myChart"></canvas>
                </div>
                <script>              
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: <%- JSON.stringify(mlinks); %>,
                        datasets: [{
                        backgroundColor: [
                            "#2ecc71",
                            "#3498db",
                            "#95a5a6",
                            "#9b59b6",
                            "#f1c40f",
                            "#e74c3c",
                            "#34495e"
                        ],
                        data: <%- JSON.stringify(data); -%>
                        }]
                    }
                    });
                    chart.update();
                </script>    
            </div>
            <div class="row justify-content-md-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ссылка</th>   
                        </tr>                       
                    </thead>
                    <tbody>
                        <% var count = 0;%>
                        <% links.forEach((link) => { %>
                            <% count++; %>
                                <tr>
                                    <th scope="col"> <%= count %></th>
                                    <th scope="col"> <%= link %> </th>
                                    <!--<th scope="col"> </th> -->
                                </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            

        </div>     
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>      
    </body>
</html>