<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Конструктор</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>       
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Орион by MAGA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Метрика</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/manage">Конструктор</a>
                  </li>
              </div>
            </div>
          </nav>
          <div class="container">
            <div class="mb-3 code">
              <div class="card">
                <div class="card-body">
                  <h3 class= "center"> Активный код</h3>
                  <div class = "form-group">
                    <textarea class="form-control" id="jsCode" rows="3" disabled><%= script %></textarea>
                  </div>
                  <textarea class="form-control" id="jsCode" rows="3" disabled><%= css %></textarea>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h3 class= "center"> Редактор кода</h3>
                  <form action="/new" method="POST" id="form">
                    <div class="form-group">
                      <label class="form-label">Внешние таблицы стилей</label>
                        <div class ="form-group">
                            <textarea class="form-control" id="cssCode" name="css" rows="3"></textarea>
                        </div>
                        <label class="form-label">Javascript код</label>
                        <div class ="form-group">
                            <textarea class="form-control" id="jsCode" name="Code" rows="3"></textarea>
                        </div>
                  <button type="submit" class="btn btn-primary mb-3">Записать</button>     
              </div>
            </form>
            </div>
            </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>      
    </body>
</html>